.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global Styles */

:root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary:#cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbce2d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: | #bbf7d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'poppins', serif;
}

.bx{
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

li{
  list-style-type: none;
}

.background {
  background-image: url("https://cdn2.etrade.net/1/20033018150.0/aempros/content/dam/etrade/retail/en_US/images/what-we-offer/investment-choices/options-call-put.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0056b3;
}

/* Main content styles */
.main {
  /* flex-grow: 1; Allow main content to grow and fill remaining space */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sidebar */

.sidebar {
  /* position: fixed;
  top: 0; 
  left: 0;  */
  width: 300px; 
  height: 100vh; 
  background-color: var(--light);
  padding: 20px 10px;
  z-index: 2;
  overflow-x: hidden;
  scrollbar-width: none;
  box-shadow: 03px 0 10px var(--grey);
}

.sidebar .side-menu {
  width: 100%;
  margin-top: 3rem;
}

.sidebar .side-menu li {
  margin: 0.5rem ;
  height: 3rem;
  background-color: transparent;
}

.sidebar .side-menu li.active {
  border-left: var(--success) 6px solid;
  background: var(--dark);
  transition: all 0.3s ease-in;
}

.sidebar .side-menu li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease-in;
  color: var(--dark);
}

.sidebar .side-menu li.active a {
  color: var(--success);
}

.sidebar.close .side-menu li a {
  width: calc(80px - 12px);
  transition: all 0.3s ease-in;
}

.sidebar .side-menu li a .bx {
  min-width: calc(80px - 40px);
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}



/* .container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70%;
  transform: translate(-50%, -50%); 
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  display: flex; /* Use flexbox layout */
  flex-direction: row; /* Arrange flex items horizontally */
  height: 100vh; /* Full height of viewport */
}


.content-container {
  /* position: fixed;
  top: 50%;
  left: 50%; */
  max-width: calc(100% - 300px);
  padding: 50px;
  width: auto;
  height: 400px;
  /* transform: translate(-50%, -50%);  */
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
}





.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between fields */
}

.form-field {
  display: flex;
  align-items: center; /* Align items vertically */
  margin: 2px
}

.form-field {
  display: flex;       /* Enables flexbox layout */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  padding: 2px;       /* Optional padding for aesthetics */
}


.form-field label {
  min-width: 120px; /* Adjust the width of the labels as needed */
  text-align: right;
  margin-right: 10px;
}
.form-field button {
  min-width: 120px; /* Adjust the width of the labels as needed */
}


.form-field input,
.form-field select {
  flex:1
}

.stock-container {
  display: flex;
  flex-direction: row;
  gap: 30px; /* Adjust the gap between fields */
  flex-wrap: wrap;
  justify-content: center;
  border-color: #acacd9;
  border-style: solid;
  padding: 5%;
}


.profile-container {
  /* top: 20%;
  left: 30%;
  position: absolute; */
  /* max-width: calc(100% - 300px); */
  font-family: 'Arial', sans-serif;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
  margin-bottom: 20px;
}

.profile-info h1 {
  font-size: 24x;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px #bbb; /* Light grey shadow for depth */
}



.profile-info h2 {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px #bbb; /* Light grey shadow for depth */
}






.profile-info p {
  font-size: 16px;
  line-height: 1.5;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #0056b3;
}



.chat-container {
  width: 1100px;
  height: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-history {
  max-height: 300px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 4px;
}

.user .chat-message {
  background-color: #007bff;
  color: #fff;
}

.bot .chat-message {
  background-color: #eee;
  color: #333;
}

.input-container {
  display: flex;
  margin-top: 20px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.input-container button:hover {
  background-color: #0056b3;
}



/* Dashboard.css */
.dashboard {
  width: 75%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.metric {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}

.metric div:first-child {
  font-weight: bold;
}



/* TradeHistoryTable.css */
.trade-history {
  padding: 20px;
  width: 95%;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trade-history table {
  width: 100%;
  border-collapse: collapse;
}

.trade-history th,
.trade-history td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.trade-history th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.trade-history tbody tr:hover {
  background-color: #e0e0e0;
}